{% extends 'base.html.twig' %}

{% block title %}News{% endblock %}

{% block body %}
    <main>
        <div class="container">

            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="mt-5 alert alert-{{ label }} alert-dismissible fade show" role="alert">
                        <strong>{{ message }}</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endfor %}

            <div class="mt-5">
                <div class="row justify-content-md-center">
                    <div class="col-md-7 text-center">
                        <h2>DER SPIEGEL - Politik</h2>
                        <p>Deutschlands führende Nachrichtenseite. Alles Wichtige aus Politik, Wirtschaft, Sport, Kultur, Wissenschaft, Technik und mehr.</p>
                        <a href="{{ path('app_logout') }}" class="btn btn-danger">Logout</a>
                    </div>
                </div>
                <div class="row mt-5">
                    {% for post in posts %}
                    <div class="col-md-4">
                        <div class="card mb-3">
                            <a href="{{ post.link }}">
                                <img src="{{ post.imageUrl }}" class="card-img-top" alt="{{ post.title }}">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title">{{ post.title }}</h5>
                                <p  class="text-muted">{{ post.publishedDate|date("F j, Y") }}</p>
                                <p class="card-text">{{ post.excerpt }}</p>
                                <a href="{{ post.link }}" class="card-link">Read Post</a>

                                {% if 'ROLE_ADMIN' in app.user.roles %}
                                <a href="{{ path('app_post_delete', {id: post.id}) }}" class="card-link link-danger">Delete Post</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <div class="row justify-content-md-center my-5">
                    <div class="col-md-auto">
                        {{ knp_pagination_render(posts) }}
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
